# General
.DS_Store
.history
.bundle
.vscode/
.idea/
*.swp
*~
*.log
*.tmp
*.bak
*.orig.*

# Node
node_modules/
npm-debug.log
yarn-error.log
.yarn/
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.npmrc

# Dependencies
/vendor
Gemfile.lock

# Android
android/.gradle
android/.kotlin
android/.cxx
android/app/.cxx
android/app/build
android/build
android/local.properties
android/GeneratedPluginRegistrant.java
android/*.hprof
+android/app/src/main/assets/index.android.bundle
+android/app/src/main/res/drawable-*
+android/app/src/main/res/raw
*.jks
*.keystore
*.apk
*.aar

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/.xcode.env.local
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcuserstate
*.hmap
*.ipa
*.p8
*.p12
*.key
*.mobileprovision

# Expo & Web
.expo/*
web-build/
web-report/

# Project Specific
src/obrest/
_git

# Coverage
coverage/
